<p id="notice"><%= notice %></p>
<h3>Feed</h3>
<% @courses.uniq.each do |c| %>
<% posts = c.posts %>
<% posts.each do |p| %>
<ul>
<b><li><%= p.user.name %></li></b>
<b><li><%= p.course.name %></li></b>
<li><%= p.body %></li>
</ul>
<% end %>
<% end %>
<h3>Messages</h3>
<% @conversations.each do |conversation| %>
<div>
  <b>You and <%= conversation.with(current_user).name %></b>
  <br>
  <em><%= conversation.messages.last.body.truncate(50) %></em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>

  <td><%= link_to 'Delete conversation', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <hr>
</div>
<% end %>
<% @feedbacks.each do |feedback| %>
  <ul>
    <li><b><%= find_course(feedback) %> </b></li>
    <li><B>By: <%= User.find(feedback.teacher.user_id).name %></li></b>
    <li><B>For: <%= feedback.student.student.first_name + " " + feedback.student.student.last_name  %></li></b>
    <li><%= feedback.body %></li>
    <li><i>Posted: <%= feedback.created_at.strftime('%a %b %d, %Y at %r') %></i></li>
    <li><%= link_to 'Message this Teacher', new_message_path(receiver_id: User.find(feedback.teacher.user_id)) %></li>
  </ul>
<% end %>
