<p id="notice"><%= notice %></p>

<% @courses.each do |c| %>
<% posts = c.posts %>
<% posts.each do |p| %>
<%= p.body %>
<% end %>
<% end %>
<% @conversations.each do |conversation| %>
<div>
  <b>You and <%= conversation.with(current_user).name %></b>
  <br>
  <em><%= conversation.messages.last.body.truncate(50) %></em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>

  <td><%= link_to 'Delete conversation', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <hr>
</div>
<% end %>
<%= @feedbacks %>
