<h4>New message to <%= @receiver.name %></h4>

<%= form_for @message, :html=> { class: 'browser-default' } do |f| %>
  <%= hidden_field_tag 'receiver_id', @receiver.id %>

  <%= f.text_area :body, placeholder: 'Your message here...' %>

  <%= f.submit %>
<% end %>
