<p id="notice"><%= notice %></p>
<%= User.find(@message.conversation.author_id).name %>
<p><%= @message.body %></p>
<%= link_to 'Edit', edit_message_path(@message) %> 
<%= link_to 'Back', conversations_path %>
