<p id="notice"><%= notice %></p>
<h2><%= @conversation.subject %></h2>
<h4><b>Between <u><%= @conversation.author.name %></u> and  <u><%= @conversation.receiver.name %></u></b></h4>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @conversation.messages.each do |m| %>
      <tr>
        <td><p><b><%=User.find(m.user_id).name%>:</b> <%= m.body %></p><%= m.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_conversation_path(@conversation) %>
<%= link_to 'Back', conversations_path %>
