<p id="notice"><%= notice %></p>


<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th><Name></th>
      <h5><th>Grade</th></h5>
      <h5><th>School year</th></h5>
      <h5><th>Semester</th></h5>
      <h5><th>Period</th></h5>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.grade ? course.grade : "N/A" %></td>
        <td><%= course.school_year %></td>
        <td><%= course.semester %></td>
        <td><%= course.period %></td>
        <td><%= link_to 'Show Students', course %></td>
        <td><%= link_to 'Remove Course', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
