  <!DOCTYPE html>
  <html>
    <head>
      <title>Dash</title>
      <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Permanent+Marker|Schoolbell" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
      <%= render 'shared/top_nav' %>
      <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
  </html>
